body {
	background: white none repeat !important;
	font-family: 'Lato', sans-serif;
}

.page-header.navbar.navbar-fixed-top {
	background: #ffffff;
	box-shadow: -1px 1px 10px #00000038;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover, .page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle{
	background: #e6e4e4;
}

.page-header-fixed .page-container {
    margin-top: 30px;
}

.page-sidebar-menu{
	background: #ffffff;
}

.page-sidebar-menu .nav-item a:hover{
	background: #e6e4e4;
}

.page-sidebar-menu .nav-item.open > a{
	background: #e6e4e4;
}

.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
	border-top: 1px solid #f9f9fc;
	color: #000000;
}

.page-sidebar .page-sidebar-menu .sub-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a {
	color: #000000;
}

.page-sidebar .page-sidebar-menu .flat-icon{
	width: 25px;
	height: 30px;
	margin-right: 10px;
	opacity: 0.7;
	vertical-align: bottom;
}

.page-content{
	background: #ffffff;
	box-shadow: inset 2px -9px 10px #00000038;
}

img.sizeLogo{
	height: 25px;
	width: 130px;
	margin: 10px auto !important;
}

.page-footer{
	display: none;
}

.page-sidebar .page-sidebar-menu .nav-item a{
	border-bottom: 1px #bfbfbf solid;
}

.page-sidebar .page-sidebar-menu>li.open>a{
	background: inherit !important;
	color: black;
}

.page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a{
	background: #58A4A0 !important;
	color: white;
	fill: white;
}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a {
    background-color: #58A4A0 !important;
    color: white;
    fill: white;
}

.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a{
	background-color: #58A4A0 !important;
	color: white;
	fill: white;
}

.dropdown-menu>li.active:hover>a, .dropdown-menu>li.active>a, .dropdown-menu>li:hover>a {
	background-color: #58A4A0 !important;
	color: white;
	fill: white;
}

.page-sidebar .page-sidebar-menu>li.open>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li.open>a>.arrow:before, .page-sidebar .page-sidebar-menu>li.open>a>i, .page-sidebar .page-sidebar-menu>li:hover>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li:hover>a>.arrow:before, .page-sidebar .page-sidebar-menu>li:hover>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>i {
	color: #b4bcc8;
	opacity: 0.9;
}

.page-sidebar .page-sidebar-menu>li.active.open+li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open+li>a {
	border-top: 0px;
}

.page-sidebar .page-sidebar-menu .sub-menu{
	background-color: #f0f0f0;
	margin: 0px;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu:hover .sub-menu, .page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu {
    background-color: #f0f0f0 !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-language>.dropdown-toggle>.langname, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>i {
	color: black;
}

.cookie {
	background-color: white !important;
    box-shadow: -1px 1px 10px #00000038;
}

@media (max-width: 991px){
	.page-sidebar .page-sidebar-menu .sidebar-search input, .page-sidebar .page-sidebar-menu>li .sub-menu {
		background-color: #f0f0f0 !important;
	}

	.page-content{
		background: #ffffff;
		box-shadow: none;
	}

}

@media (max-width: 480px){
	.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
		background-color: transparent;
	}

	.page-header.navbar .top-menu {
		display: block;
		clear: none;
		float: none;
	}

}